/* Estilos globales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f2a154;
    text-align: center;
    padding: 20px;
    color: white;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

/* Estilos para dispositivos móviles */
@media screen and (max-width: 600px) {
    header {
        font-size: 24px;
    }

    main {
        padding: 10px;
    }
}